.manual-search-btn-hha {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    margin: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-align: center;
    white-space: nowrap;
}

.manual-search-btn-hha:hover {
    background-color: #218838;
}